footer{
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	background-image: url('../../images/petful-footer-image.png');
	background-size: 50%;
	background-position: bottom right;
	background-repeat: no-repeat;
	z-index: 99;
}

/* Desktop CSS */

@media only screen and (min-width:500px){
    footer{
		height: 200px;
		background-size: 50%;
	}
}

@media only screen and (min-width:801px){
    footer{
		height: 200px;
		background-size: 25%;
	}
}