header{
	position: fixed;
	top: 0;
	left: 0;
	height: 20%;
	width: 100%;
	text-align: center;
}

header, header h1, header h1 a{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-family: 'Fredoka One', cursive;
	font-size: 5.5vw;
	font-weight: 700;
	color:#4f4130;
	text-decoration: none;
}